<% form_for(@list) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'page_sections/form_include'%>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Submit", :class => 'submit' %>
  </p>
<% end %>