<h1>Listing chronologies</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for chronology in @chronologies %>
  <tr>
    <td><%=h chronology.name %></td>
    <td><%= link_to 'Show', chronology %></td>
    <td><%= link_to 'Edit', edit_chronology_path(chronology) %></td>
    <td><%= link_to 'Destroy', chronology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chronology', new_chronology_path %>
