<h1>New Video</h1>

<% form_for(@video, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label 'displays in menu as:' %><br />
    <%= f.text_field :short_name %>
  </p>
  <p>
    <%= f.label :date_filmed %><br />
    <%= f.date_select :date_filmed, :discard_day => true, :discard_month => true, :start_year => 1996, :end_year => Time.now.year %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <% fields_for :video_file do |t| %>
		<%= t.error_messages %>
	  <p>
	    <%= t.label 'Video' %><br />
	    <%= t.file_field :uploaded_data %>
	  </p>
  <% end %>
  <p>
    <%= f.submit "Create", :class => 'submit' %>
  </p>
<% end %>

<%= link_to 'Back', videos_path %>
