<h1>Listing chronology_items</h1>

<table>
  <tr>
    <th>Output</th>
    <th>Year Started</th>
	<th>Year Ended</th>
    <th>Position</th>
  </tr>

<% for chronology_item in @chronology_items %>
  <tr>
    <td><%=h chronology_item.output %></td>
    <td><%=h chronology_item.time_start %></td>
	<td><%=h chronology_item.time_end %></td>
    <td><%=h chronology_item.position %></td>
    <td><%= link_to 'Show', chronology_item %></td>
    <td><%= link_to 'Edit', edit_chronology_item_path(chronology_item) %></td>
    <td><%= link_to 'Destroy', chronology_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chronology_item', new_chronology_chronology_item_path(@chronology) %>
