<% remote_form_for([@list,@list_item]) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :page_section_id, @page_section.id %>

  <p>
    <label>Text (uses <a href="http://www.textism.com/tools/textile/" target="_blank">Textile</a>):</label><br />
    <%= f.text_area :output, :rows => 2 %>
  </p>
  <p>
    <%= f.submit "Submit", :class => 'submit' %> or <%= link_to 'cancel', site_section_page_url(@site_section,@page), :onclick => "this.up('div').update('');return false;" %>
  </p>
<% end %>